.lal{
    border-radius: 1.3531799729364005vh;
    width: 43.572395128552095vh;
    height: 43.572395128552095vh;
    margin-top: 8.119079837618404vh;
    margin-left: 1.3531799729364005vh;
}

.uno{
    background-image: linear-gradient(to bottom, #dfdfdf, #fff);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dos{
    display: flex;
    flex-direction: row;
}